<div class="footer-wrapper">
    <img src="logos/uni_logo.png" alt="" class="swansea-logo">
    <div class="contact-wrapper">
        <h4 class="contact-title"><img src="logos/contact.svg" class="contact-icon" alt="">Contact</h4>
        <h6>
        <!--email-->
        <a href="mailto:swanseauniracing@gmail.com" class="navbar-email">swanseauniracing@gmail.com</a>
        <img src="logos/phone.svg" class="phone-icon" alt="">07455 144 941</h6>
        <a target="_blank" href="https://maps.app.goo.gl/FHXaV62J61cpJrQX6" class="address"><img src="logos/location.svg" class="phone-icon" alt="">Fabian Way, Crymlyn Burrows, 
            Skewen, Swansea SA1 8EN</a>
    </div>
</div>