<nav class="navbar navbar-expand-sm navbar-dark fixed-top">
    <div class="container">

      <!--Header Title-->

      <a class="navbar-brand fs-4" href="/">
        <img src="logos/SURElogo.png" alt="" class="navbar-logo">
        <p class="navbar-logo-text">Swansea Race Engineering</p></a>


      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!--SideBar-->
      <div class="sidebar offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header text-black">

          <!--Sidebar title-->
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel"></h5>

          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">

          <!--email-->
          <a href="mailto:swanseauniracing@gmail.com" class="navbar-email">swanseauniracing@gmail.com</a>

          <!--Sidebar Logo-->
          <img src="logos/SURElogo.png" alt="" class="sidebar-logo">

          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <% if(pageIndex == 0) { %>
                <a class="nav-link navbar-text active" href="/">Home</a>
              <% } else {%>
                <a class="nav-link navbar-text" href="/">Home</a>
              <% } %>
            </li>
            <li class="nav-item">
              <% if(pageIndex == 1) { %>
                <a class="nav-link navbar-text active" href="/about">About</a>
              <% } else {%>
                <a class="nav-link navbar-text" href="/about">About</a>
              <% } %>
            </li>
            <li class="nav-item">
              <% if(pageIndex == 2) { %>
                <a class="nav-link navbar-text active" href="/">The Car</a>
              <% } else {%>
                <a class="nav-link navbar-text" href="/">The Car</a>
              <% } %>
            </li>
            <li class="nav-item">
              <% if(pageIndex == 3) { %>
                <a class="nav-link navbar-text active" href="/">Contact</a>
              <% } else {%>
                <a class="nav-link navbar-text" href="/">Contact</a>
              <% } %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <script>
    const navEl = document.querySelector('.navbar');
    const navLinks = document.querySelectorAll('.nav-link');

    window.addEventListener('scroll', () =>{
      if(window.scrollY >= 100) {
        navEl.classList.add('navbar-scrolled');
      } else if(window.scrollY < 100){
        navEl.classList.remove('navbar-scrolled');
      }
    });
  </script>