.footer-wrapper {
    background-color: rgb(22, 22, 22);
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    color: whitesmoke;
}

.swansea-logo {
    height: 50%;
    object-fit: cover;
}

.navbar-email {
    color: rgb(255, 48, 48);
    margin-right: 10px;
    font-size: 0.9vw;
}

.contact-wrapper {
    display: flex;
    flex-direction: column;
}

.phone-icon {
    width: 24px;
    height: 24px;
}

.address {
    margin-top: 15px;
    font-size: 0.75vw;
    color: rgb(255, 48, 48);
    overflow: hidden;
}

.contact-title {
    margin-bottom: 20px;
}

.contact-icon {
    margin-right: 20px;
    width: 32px;
    height: 32px;
}

@media (max-width: 700px) {
    .navbar-email {
        font-size: 3vw;
    }
    .address {
        margin-top: 5px;
        font-size: 3vw;
    }
}