body {
    background-color: whitesmoke;
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    color: rgb(37, 37, 37);
    text-align: center;
    box-sizing: border-box;
}

.navbar {
    background-color: rgba(22, 22, 22, 0);
    transition: all 0.5s;
}

.navbar-toggler {
    border-style: none;
}

.navbar-scrolled {
    background-color: rgba(22, 22, 22, 1);
    box-shadow: 0 3px 10px rgba(22, 22, 22, 15);
}

.navbar-brand {
    margin: 0;
    padding: 0;
}

.navbar-logo {
    height: 50px;
    object-fit: cover;
}



.navbar-logo-text {
    font-size: 0.5em;
    margin: 0;
    padding: 0;
}

.sidebar {
    background-color: rgb(22, 22, 22);
}


.offcanvas-title {
    color: whitesmoke;
}

.navbar-text {
    color: rgb(255, 255, 255);
}

.active.nav-link{
    background-color: rgba(255, 48, 48, 1);
}

.nav-link {
    position: relative;
    height: 30px;
    padding: 5% 0;
    margin: auto 5px;
}


.nav-link::after {
    content: '';
    opacity: 0;
    transition: all 0.4s;
    height: 2px;
    width: 0%;
    background-color: rgb(255, 48, 48);
    position: absolute;
    bottom: 0;
    left: 50%;
}

.nav-link:hover::after {
    opacity: 1;
    width: 80%;
    left: 10%;
}

#main-carousel {
    border-bottom: 8px solid rgb(255, 48, 48);
}

.carousel-text-overlay {
    color: whitesmoke;
    width: 50%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -30%);
    height: 30%;
}

.carousel-hr {
    margin-top: 3%;
    margin-bottom: 3%;
}

.c-item {
    height: 700px;
}

.c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.3);
}

.sidebar-logo {
    visibility: hidden;
    object-fit: cover;
    height: 50px;
    position: absolute;
}

.navbar-email {
    transition: none;
    position: absolute;
    right: 1%;
    top: 37%;
    color: rgb(255, 86, 86);
}

.socials-wrapper {
    display: flex;
    position: absolute;
    justify-content: flex-start;
    left: 1%;
}

.navbar-social {
    height: 40px;
    object-fit: cover;
    margin: 0 10px;
}


@media (max-width: 1800px) {
    .navbar-email {
        top: 0%;
    }
    .socials-wrapper {
        top: 20%;
        left: 35%;
    }
}

@media (max-width: 991px) {
    .nav-link {
        width: 35%;
        margin: auto;
    }
    .c-item {
        height: 500px;
    }
    .carousel-text-overlay {
        width: 80%;
    }
    .socials-wrapper {
        top: 40%;
        left: 20%;
    }
}

@media (max-width: 572px) {
    .navbar-email {
        top: 2%;
        left: 20%;
        width: 63%;
    }
    .sidebar-logo {
        visibility: visible;
        left: 1%;
        top: 0%;
    }
    .navbar-text {
        padding: 5px 0;
        margin: 10px auto;
    }
}